#weather-temp {
	font-size: 2em;
	text-align: right;
}

#weather-condition {
	text-align: right;
	font-size: 0.5em;
	float: right;
	width: 100%;
	text-align: right;
}

#weather-icon {
    font-size: 2em;
    float: right;
    text-align: left;
    padding: 0.1em}

#weather-widget {
	font-size: 1.5em;
	width: 10em;
	width: 45%;
	float: right;
}

.weather-extremes {
	font-size: 0.4em;
	width: unset !important;
	display: inline-block;
	margin-left: 0.5em !important;
	clear: left;
}